*{
    background-color: #9EBC8A;
}

.homepageh1{
    text-align: center;
    background-color: #537D5D;
    border: 18px solid #73946B;
}

.nasigoreng{
    text-align: center;
    background-color: #537D5D;
    border: 18px solid #73946B;
}

.sambalgoreng{
    text-align: center;
    background-color: #537D5D;
    border: 18px solid #73946B;
}